.input-group {
  display: grid;
  row-gap: 0.5rem;
  font-size: var(--fz-sm);
  > input {
    outline: none;

    border-radius: 0.5rem;
    padding: 0.5rem;

    border: 1px solid var(--neutral-clr);
    caret-color: var(--neutral-clr);
    &.error {
      border: 1px solid var(--error-clr);
      caret-color: var(--error-clr);
    }
    &.success {
      border: 1px solid var(--primary-clr);
      caret-color: var(--primary-clr);
    }
  }

  .error {
    font-size: var(--fz-xs);
    color: var(--error-clr);
  }
}
