$colors: (
  background-clr: hsl(200, 7%, 92%),
  background-opposite-clr: hsl(208, 41%, 8%),
  surface-clr: hsl(0, 0%, 100%),
  text-dark-clr: hsl(0, 0%, 24%),
  text-light-clr: hsl(0, 13%, 100%),
  text-darkest-clr: hsl(0, 7%, 3%),
  primary-clr: hsl(103, 64%, 60%),
  error-clr: hsl(352, 85%, 59%),
  neutral-clr: hsl(182, 74%, 64%),
);
