@use "./../../styles//mixins" as mixin;
.main {
  height: 100vh;
  height: 100dvh;
  width: 100%;

  display: grid;
  @include mixin.mq(sm) {
    justify-items: center;
    align-items: center;
    align-content: center;
  }
}
